* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0e0e0e;
    color: #fff;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("cool.png") center/cover no-repeat;
    height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.navbar {
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    /position: fixed;
    width: 100%;
    height: 65px;
   /top: 0;
   /z-index: 100;
}




.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* BUTTON */
.btn {
    background: #c89b3c;
    padding: 10px 20px;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn-main {
    margin-top: 20px;
    display: inline-block;
}

/* HERO CONTENT */
.hero-content {
    text-align: center;
    margin-top: 140px;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content h2 {
    color: #c89b3c;
    margin: 15px 0;
}

.hero-content p {
    font-size: 18px;
    opacity: 0.9;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 40px;
    background: #111;
}

.feature {
    text-align: center;
    max-width: 250px;
}

.feature h3 {
    margin-bottom: 10px;
    color: #c89b3c;
}

/* SPECIALITES */
.specialites {
    text-align: center;
    padding: 80px 40px;
}

.specialites h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.plats {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.plat {
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
}

.plat img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.plat h3 {
    margin: 15px 0 5px;
}

.plat span {
    display: block;
    margin-bottom: 15px;
    color: #c89b3c;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #0a0a0a;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
